<div>
    <ul class="items" >
        <table>
          <thead>
            <th> Nombre Item</th>
            <th> Precio</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>{{item.nombre}}</td>
              <td>{{item.precio}} </td>
              <button type="button" class="delete" title="borrar Item" (click)="delete(item)"> X </button>
            </tr>
          </tbody>
        </table>
        <a *ngFor="let item of items" routerLink="/detail/{{item.id}}"></a>
    </ul>
  </div>
  
  <div id="Menu">
    <label for="new-Item">Item: </label>
    <input id="new-Item" #Name><br><br>
    <label for="new-Item">Precio: </label>
    <input id="new-Item" #precio><br><br>
    <button type="button" class="add-button" (click)="add(Name.value,precio.value); Name.value='';precio.value='';">
      Anadir Item
    </button>
  </div>
  
  
