nav{
    text-align: center;

}

h1{
    background-color: #22404A;
    color: #B2BCBB;
    text-align: center;
    align-items: center;
    padding: 50px;
    box-shadow: 1px 2px 1px;
    margin-top: 0px;
}

  